 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('img.jpeg') center/cover no-repeat fixed;
    
}

.container {
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 10px rgba(78, 77, 77, 0.1);
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 40%;
    width: 30%;
}

form {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 60px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #4CAF50;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.highlight {
    background-color: #40414086;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.result {
    font-size: 20px;
    font-weight: bold;
    color: #2b1e70;
}

.image-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;

}

.image-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(2px);
    opacity: 0.8;
    
}
.glass-morphism {
    background: rgba(80, 21, 21, 0.2); /* Adjust alpha channel for transparency */
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Adjust shadow color and spread */
    /* Other stylings as needed */
    width: 300px;
    height: 200px;
    padding: 20px;
  }